In [1]:
import pandas as pd
import sqlite3

In [2]:
import sqlite3
conn = sqlite3.connect('my_database.db')
c = conn.cursor()

In [3]:
c.execute('''Drop TABLE table_2018''')

In [4]:
c.execute('''CREATE TABLE table_2018 (FullPhoneNumber text,state text,cityname text,persongender  text,personexactage text,personmaritalstatus text,traveler text,ZipCode text,investment text,estimatedincomecode text,timezone text,DONOTCALL text,"PresenceOfCreditCard" text,CreditRating  text )''')

In [5]:
import os
list_of_dir = os.listdir(r'Z:\AIDAILER\2018.3')
list_of_iter = iter(list_of_dir)

In [6]:
for i in range(len(list_of_dir)):
#     try:
    df1 = pd.read_csv('Z:/AIDAILER/2018.3/'+str(next(list_of_iter)) ,warn_bad_lines=True, error_bad_lines=False, engine="python")
    df1['FullPhoneNumber'] = df1['FullPhoneNumber'].astype(str)
    df1 = df1[df1['FullPhoneNumber'] != 'nan'] 
    df1['ZipCode']=df1['ZipCode'].astype(str)
    df1["DONOTCALL"]=df1["DONOTCALL"].astype(str)
    df1["DONOTCALL"] =df1["DONOTCALL"].map({True: 'Y', False: 'N'})
    df1 = df1[["state","ZipCode","cityname","timezone","FullPhoneNumber","estimatedincomecode","persongender","personexactage","personmaritalstatus","PresenceOfCreditCard","CreditRating","investment","traveler","DONOTCALL"]]
    df1.to_sql('table_2018',conn,if_exists='append',index=False)
    print(str(i+1), str(df1.shape), str(list_of_dir[i]), 'Appended to Database')

#     except Exception as e:
#         print(str(e))
#         pass

1 (206671, 14) 2018_3_USA_Consumer_SF_AK_0.csv Appended to Database
2 (488969, 14) 2018_3_USA_Consumer_SF_AL_0.csv Appended to Database
3 (486090, 14) 2018_3_USA_Consumer_SF_AL_1.csv Appended to Database
4 (486214, 14) 2018_3_USA_Consumer_SF_AL_2.csv Appended to Database
5 (488368, 14) 2018_3_USA_Consumer_SF_AL_3.csv Appended to Database

Skipping line 334815: unexpected end of data

6 (325915, 14) 2018_3_USA_Consumer_SF_AL_4.csv Appended to Database

Skipping line 332307: unexpected end of data

7 (319719, 14) 2018_3_USA_Consumer_SF_AR_0.csv Appended to Database
8 (481173, 14) 2018_3_USA_Consumer_SF_AR_1.csv Appended to Database
9 (337017, 14) 2018_3_USA_Consumer_SF_AR_2.csv Appended to Database
10 (484852, 14) 2018_3_USA_Consumer_SF_AZ_0.csv Appended to Database

Skipping line 1264: unexpected end of data

11 (1177, 14) 2018_3_USA_Consumer_SF_AZ_1.csv Appended to Database
12 (481512, 14) 2018_3_USA_Consumer_SF_AZ_2.csv Appended to Database
13 (483622, 14) 2018_3_USA_Consumer_SF_AZ_3.csv Appended to Database
14 (439522, 14) 2018_3_USA_Consumer_SF_AZ_4.csv Appended to Database
15 (491036, 14) 2018_3_USA_Consumer_SF_CA_0.csv Appended to Database
16 (490159, 14) 2018_3_USA_Consumer_SF_CA_1.csv Appended to Database
17 (476276, 14) 2018_3_USA_Consumer_SF_CA_10.csv Appended to Database
18 (490240, 14) 2018_3_USA_Consumer_SF_CA_11.csv Appended to Database
19 (490752, 14) 2018_3_USA_Consumer_SF_CA_12.csv Appended to Database

Skipping line 14470: unexpected end of data

20 (14031, 14) 2018_3_USA_Consumer_SF_CA_13.csv Appended to Database
21 (480129, 14) 2018_3_USA_Consumer_SF_CA_14.csv Appended to Database
22 (490969, 14) 2018_3_USA_Consumer_SF_CA_15.csv Appended to Database
23 (479249, 14) 2018_3_USA_Consumer_SF_CA_17.csv Appended to Database
24 (481254, 14) 2018_3_USA_Consumer_SF_CA_2.csv Appended to Database
25 (486937, 14) 2018_3_USA_Consumer_SF_CA_20.csv Appended to Database
26 (489846, 14) 2018_3_USA_Consumer_SF_CA_22.csv Appended to Database
27 (490855, 14) 2018_3_USA_Consumer_SF_CA_23.csv Appended to Database
28 (482048, 14) 2018_3_USA_Consumer_SF_CA_24.csv Appended to Database
29 (491142, 14) 2018_3_USA_Consumer_SF_CA_26.csv Appended to Database
30 (488970, 14) 2018_3_USA_Consumer_SF_CA_27.csv Appended to Database
31 (214284, 14) 2018_3_USA_Consumer_SF_CA_29.csv Appended to Database
32 (480991, 14) 2018_3_USA_Consumer_SF_CA_3.csv Appended to Database
33 (491241, 14) 2018_3_USA_Consumer_SF_CA_4.csv Appended to Database
34 (488497, 14) 2018_3_USA_Consumer_SF_CA_5.csv Appended to Database
35 (478547, 14) 2018_3_USA_Consumer_SF_CA_6.csv Appended to Database
36 (486107, 14) 2018_3_USA_Consumer_SF_CA_7.csv Appended to Database

Skipping line 85196: unexpected end of data

37 (83743, 14) 2018_3_USA_Consumer_SF_CA_8.csv Appended to Database
38 (486377, 14) 2018_3_USA_Consumer_SF_CA_9.csv Appended to Database
39 (488775, 14) 2018_3_USA_Consumer_SF_CO_0.csv Appended to Database
40 (486319, 14) 2018_3_USA_Consumer_SF_CO_2.csv Appended to Database
41 (317336, 14) 2018_3_USA_Consumer_SF_CO_4.csv Appended to Database
42 (488392, 14) 2018_3_USA_Consumer_SF_CT_0.csv Appended to Database
43 (488782, 14) 2018_3_USA_Consumer_SF_CT_1.csv Appended to Database
44 (366745, 14) 2018_3_USA_Consumer_SF_CT_3.csv Appended to Database
45 (225160, 14) 2018_3_USA_Consumer_SF_DC_0.csv Appended to Database
46 (489818, 14) 2018_3_USA_Consumer_SF_DE_0.csv Appended to Database
47 (31202, 14) 2018_3_USA_Consumer_SF_DE_1.csv Appended to Database
48 (490787, 14) 2018_3_USA_Consumer_SF_FL_0.csv Appended to Database

Skipping line 19495: unexpected end of data

49 (18790, 14) 2018_3_USA_Consumer_SF_FL_18.csv Appended to Database
50 (483935, 14) 2018_3_USA_Consumer_SF_GA_0.csv Appended to Database
51 (484329, 14) 2018_3_USA_Consumer_SF_GA_1.csv Appended to Database
52 (483819, 14) 2018_3_USA_Consumer_SF_GA_2.csv Appended to Database
53 (482613, 14) 2018_3_USA_Consumer_SF_GA_3.csv Appended to Database
54 (481981, 14) 2018_3_USA_Consumer_SF_GA_4.csv Appended to Database
55 (481767, 14) 2018_3_USA_Consumer_SF_GA_7.csv Appended to Database
56 (411640, 14) 2018_3_USA_Consumer_SF_GA_8.csv Appended to Database
57 (33, 14) 2018_3_USA_Consumer_SF_GU_0.csv Appended to Database
58 (488840, 14) 2018_3_USA_Consumer_SF_IA_0.csv Appended to Database
59 (486481, 14) 2018_3_USA_Consumer_SF_IA_1.csv Appended to Database
60 (488472, 14) 2018_3_USA_Consumer_SF_IA_2.csv Appended to Database
61 (481064, 14) 2018_3_USA_Consumer_SF_ID_0.csv Appended to Database
62 (124539, 14) 2018_3_USA_Consumer_SF_ID_1.csv Appended to Database
63 (491998, 14) 2018_3_USA_Consumer_SF_IL_0.csv Appended to Database
64 (484749, 14) 2018_3_USA_Consumer_SF_IL_10.csv Appended to Database
65 (476766, 14) 2018_3_USA_Consumer_SF_IL_11.csv Appended to Database
66 (492033, 14) 2018_3_USA_Consumer_SF_IL_3.csv Appended to Database
67 (484555, 14) 2018_3_USA_Consumer_SF_IL_4.csv Appended to Database
68 (492171, 14) 2018_3_USA_Consumer_SF_IL_6.csv Appended to Database
69 (483718, 14) 2018_3_USA_Consumer_SF_IL_8.csv Appended to Database
70 (492180, 14) 2018_3_USA_Consumer_SF_IL_9.csv Appended to Database
71 (481510, 14) 2018_3_USA_Consumer_SF_IN_2.csv Appended to Database
72 (485874, 14) 2018_3_USA_Consumer_SF_IN_4.csv Appended to Database
73 (484716, 14) 2018_3_USA_Consumer_SF_KS_0.csv Appended to Database
74 (484877, 14) 2018_3_USA_Consumer_SF_KS_1.csv Appended to Database
75 (485778, 14) 2018_3_USA_Consumer_SF_KY_0.csv Appended to Database
76 (486160, 14) 2018_3_USA_Consumer_SF_KY_1.csv Appended to Database
77 (485561, 14) 2018_3_USA_Consumer_SF_KY_2.csv Appended to Database
78 (92090, 14) 2018_3_USA_Consumer_SF_KY_4.csv Appended to Database
79 (487917, 14) 2018_3_USA_Consumer_SF_LA_0.csv Appended to Database
80 (485745, 14) 2018_3_USA_Consumer_SF_LA_1.csv Appended to Database

Skipping line 16131: unexpected end of data

81 (15861, 14) 2018_3_USA_Consumer_SF_LA_2.csv Appended to Database
82 (485720, 14) 2018_3_USA_Consumer_SF_LA_3.csv Appended to Database
83 (288887, 14) 2018_3_USA_Consumer_SF_LA_4.csv Appended to Database
84 (489621, 14) 2018_3_USA_Consumer_SF_MA_0.csv Appended to Database
85 (487692, 14) 2018_3_USA_Consumer_SF_MA_4.csv Appended to Database
86 (287521, 14) 2018_3_USA_Consumer_SF_MA_6.csv Appended to Database
87 (489585, 14) 2018_3_USA_Consumer_SF_MD_0.csv Appended to Database

Skipping line 27158: unexpected end of data

88 (26792, 14) 2018_3_USA_Consumer_SF_MD_1.csv Appended to Database
89 (3742, 14) 2018_3_USA_Consumer_SF_MD_2.csv Appended to Database
90 (489681, 14) 2018_3_USA_Consumer_SF_MD_3.csv Appended to Database
91 (487571, 14) 2018_3_USA_Consumer_SF_MD_4.csv Appended to Database
92 (397954, 14) 2018_3_USA_Consumer_SF_MD_5.csv Appended to Database
93 (487432, 14) 2018_3_USA_Consumer_SF_MI_2.csv Appended to Database
94 (487887, 14) 2018_3_USA_Consumer_SF_MI_3.csv Appended to Database
95 (489728, 14) 2018_3_USA_Consumer_SF_MI_4.csv Appended to Database
96 (491398, 14) 2018_3_USA_Consumer_SF_MI_5.csv Appended to Database
97 (487921, 14) 2018_3_USA_Consumer_SF_MI_8.csv Appended to Database
98 (491722, 14) 2018_3_USA_Consumer_SF_MI_9.csv Appended to Database
99 (491286, 14) 2018_3_USA_Consumer_SF_MN_0.csv Appended to Database
100 (490441, 14) 2018_3_USA_Consumer_SF_MN_2.csv Appended to Database
101 (489886, 14) 2018_3_USA_Consumer_SF_MN_4.csv Appended to Database
102 (213798, 14) 2018_3_USA_Consumer_SF_MN_5.csv Appended to Database
103 (486198, 14) 2018_3_USA_Consumer_SF_MO_0.csv Appended to Database
104 (484869, 14) 2018_3_USA_Consumer_SF_MO_1.csv Appended to Database
105 (486375, 14) 2018_3_USA_Consumer_SF_MO_3.csv Appended to Database
106 (483073, 14) 2018_3_USA_Consumer_SF_MO_4.csv Appended to Database
107 (392717, 14) 2018_3_USA_Consumer_SF_MO_5.csv Appended to Database
108 (480772, 14) 2018_3_USA_Consumer_SF_MS_0.csv Appended to Database
109 (479789, 14) 2018_3_USA_Consumer_SF_MS_1.csv Appended to Database
110 (414753, 14) 2018_3_USA_Consumer_SF_MT_0.csv Appended to Database
111 (489976, 14) 2018_3_USA_Consumer_SF_NC_0.csv Appended to Database
112 (488512, 14) 2018_3_USA_Consumer_SF_NC_1.csv Appended to Database
113 (487947, 14) 2018_3_USA_Consumer_SF_NC_2.csv Appended to Database
114 (486699, 14) 2018_3_USA_Consumer_SF_NC_3.csv Appended to Database
115 (486556, 14) 2018_3_USA_Consumer_SF_NC_4.csv Appended to Database
116 (486719, 14) 2018_3_USA_Consumer_SF_NC_5.csv Appended to Database
117 (490033, 14) 2018_3_USA_Consumer_SF_NC_6.csv Appended to Database
118 (225272, 14) 2018_3_USA_Consumer_SF_NC_8.csv Appended to Database
119 (287137, 14) 2018_3_USA_Consumer_SF_ND_0.csv Appended to Database
120 (311698, 14) 2018_3_USA_Consumer_SF_NE_1.csv Appended to Database
121 (489283, 14) 2018_3_USA_Consumer_SF_NJ_0.csv Appended to Database
122 (488960, 14) 2018_3_USA_Consumer_SF_NJ_1.csv Appended to Database
123 (17565, 14) 2018_3_USA_Consumer_SF_NJ_3.csv Appended to Database
124 (487802, 14) 2018_3_USA_Consumer_SF_NJ_4.csv Appended to Database
125 (487533, 14) 2018_3_USA_Consumer_SF_NJ_7.csv Appended to Database
126 (481123, 14) 2018_3_USA_Consumer_SF_NM_0.csv Appended to Database
127 (232502, 14) 2018_3_USA_Consumer_SF_NM_1.csv Appended to Database
128 (484528, 14) 2018_3_USA_Consumer_SF_NV_0.csv Appended to Database
129 (112424, 14) 2018_3_USA_Consumer_SF_NV_2.csv Appended to Database
130 (486430, 14) 2018_3_USA_Consumer_SF_NY_1.csv Appended to Database
131 (484429, 14) 2018_3_USA_Consumer_SF_NY_10.csv Appended to Database
132 (492897, 14) 2018_3_USA_Consumer_SF_NY_11.csv Appended to Database
133 (484995, 14) 2018_3_USA_Consumer_SF_NY_12.csv Appended to Database
134 (491692, 14) 2018_3_USA_Consumer_SF_NY_13.csv Appended to Database
135 (487106, 14) 2018_3_USA_Consumer_SF_NY_14.csv Appended to Database
136 (489384, 14) 2018_3_USA_Consumer_SF_NY_15.csv Appended to Database
137 (489342, 14) 2018_3_USA_Consumer_SF_NY_16.csv Appended to Database
138 (192213, 14) 2018_3_USA_Consumer_SF_NY_17.csv Appended to Database
139 (490274, 14) 2018_3_USA_Consumer_SF_NY_2.csv Appended to Database
140 (487714, 14) 2018_3_USA_Consumer_SF_NY_4.csv Appended to Database
141 (490929, 14) 2018_3_USA_Consumer_SF_NY_5.csv Appended to Database

Skipping line 500000: Expected 97 fields in line 500000, saw 176

142 (668341, 14) 2018_3_USA_Consumer_SF_NY_6.csv Appended to Database
143 (492168, 14) 2018_3_USA_Consumer_SF_NY_7.csv Appended to Database
144 (484647, 14) 2018_3_USA_Consumer_SF_NY_8.csv Appended to Database
145 (492812, 14) 2018_3_USA_Consumer_SF_NY_9.csv Appended to Database
146 (492899, 14) 2018_3_USA_Consumer_SF_OH_0.csv Appended to Database
147 (485826, 14) 2018_3_USA_Consumer_SF_OH_1.csv Appended to Database
148 (491591, 14) 2018_3_USA_Consumer_SF_OH_11.csv Appended to Database
149 (487674, 14) 2018_3_USA_Consumer_SF_OH_2.csv Appended to Database
150 (491541, 14) 2018_3_USA_Consumer_SF_OH_3.csv Appended to Database
151 (489477, 14) 2018_3_USA_Consumer_SF_OH_5.csv Appended to Database
152 (490581, 14) 2018_3_USA_Consumer_SF_OH_8.csv Appended to Database
153 (482517, 14) 2018_3_USA_Consumer_SF_OK_1.csv Appended to Database
154 (151100, 14) 2018_3_USA_Consumer_SF_OK_3.csv Appended to Database
155 (485875, 14) 2018_3_USA_Consumer_SF_OR_0.csv Appended to Database
156 (483543, 14) 2018_3_USA_Consumer_SF_OR_1.csv Appended to Database
157 (485861, 14) 2018_3_USA_Consumer_SF_OR_2.csv Appended to Database
158 (104876, 14) 2018_3_USA_Consumer_SF_OR_3.csv Appended to Database
159 (492653, 14) 2018_3_USA_Consumer_SF_PA_0.csv Appended to Database
160 (484995, 14) 2018_3_USA_Consumer_SF_PA_1.csv Appended to Database
161 (486830, 14) 2018_3_USA_Consumer_SF_PA_11.csv Appended to Database
162 (488630, 14) 2018_3_USA_Consumer_SF_PA_2.csv Appended to Database
163 (488777, 14) 2018_3_USA_Consumer_SF_PA_3.csv Appended to Database
164 (484595, 14) 2018_3_USA_Consumer_SF_PA_4.csv Appended to Database
165 (486230, 14) 2018_3_USA_Consumer_SF_PA_7.csv Appended to Database
166 (490980, 14) 2018_3_USA_Consumer_SF_PA_8.csv Appended to Database
167 (488713, 14) 2018_3_USA_Consumer_SF_RI_0.csv Appended to Database
168 (49875, 14) 2018_3_USA_Consumer_SF_RI_1.csv Appended to Database
169 (485720, 14) 2018_3_USA_Consumer_SF_SC_0.csv Appended to Database
170 (482542, 14) 2018_3_USA_Consumer_SF_SC_2.csv Appended to Database
171 (482675, 14) 2018_3_USA_Consumer_SF_SC_3.csv Appended to Database
172 (278898, 14) 2018_3_USA_Consumer_SF_SC_4.csv Appended to Database
173 (367813, 14) 2018_3_USA_Consumer_SF_SD_0.csv Appended to Database
174 (485742, 14) 2018_3_USA_Consumer_SF_TN_0.csv Appended to Database
175 (485405, 14) 2018_3_USA_Consumer_SF_TN_1.csv Appended to Database
176 (484379, 14) 2018_3_USA_Consumer_SF_TN_3.csv Appended to Database
177 (485164, 14) 2018_3_USA_Consumer_SF_TN_4.csv Appended to Database
178 (482622, 14) 2018_3_USA_Consumer_SF_TN_5.csv Appended to Database
179 (489263, 14) 2018_3_USA_Consumer_SF_TX_0.csv Appended to Database
180 (484523, 14) 2018_3_USA_Consumer_SF_TX_1.csv Appended to Database
181 (487251, 14) 2018_3_USA_Consumer_SF_TX_11.csv Appended to Database
182 (485169, 14) 2018_3_USA_Consumer_SF_TX_12.csv Appended to Database
183 (488983, 14) 2018_3_USA_Consumer_SF_TX_14.csv Appended to Database
184 (483698, 14) 2018_3_USA_Consumer_SF_TX_15.csv Appended to Database
185 (479303, 14) 2018_3_USA_Consumer_SF_TX_16.csv Appended to Database
186 (481656, 14) 2018_3_USA_Consumer_SF_TX_18.csv Appended to Database
187 (481681, 14) 2018_3_USA_Consumer_SF_TX_19.csv Appended to Database
188 (488519, 14) 2018_3_USA_Consumer_SF_TX_20.csv Appended to Database
189 (478079, 14) 2018_3_USA_Consumer_SF_TX_21.csv Appended to Database
190 (133882, 14) 2018_3_USA_Consumer_SF_TX_22.csv Appended to Database
191 (489095, 14) 2018_3_USA_Consumer_SF_TX_3.csv Appended to Database
192 (480477, 14) 2018_3_USA_Consumer_SF_TX_5.csv Appended to Database
193 (478236, 14) 2018_3_USA_Consumer_SF_TX_7.csv Appended to Database
194 (488332, 14) 2018_3_USA_Consumer_SF_TX_9.csv Appended to Database
195 (487121, 14) 2018_3_USA_Consumer_SF_UT_0.csv Appended to Database
196 (141141, 14) 2018_3_USA_Consumer_SF_UT_2.csv Appended to Database
197 (486992, 14) 2018_3_USA_Consumer_SF_VA_1.csv Appended to Database
198 (487233, 14) 2018_3_USA_Consumer_SF_VA_2.csv Appended to Database
199 (487211, 14) 2018_3_USA_Consumer_SF_VA_4.csv Appended to Database
200 (487244, 14) 2018_3_USA_Consumer_SF_VA_5.csv Appended to Database
201 (48, 14) 2018_3_USA_Consumer_SF_VI_0.csv Appended to Database
202 (290400, 14) 2018_3_USA_Consumer_SF_VT_0.csv Appended to Database
203 (485764, 14) 2018_3_USA_Consumer_SF_WA_2.csv Appended to Database
204 (487275, 14) 2018_3_USA_Consumer_SF_WA_3.csv Appended to Database
205 (484334, 14) 2018_3_USA_Consumer_SF_WA_4.csv Appended to Database
206 (317322, 14) 2018_3_USA_Consumer_SF_WA_5.csv Appended to Database
207 (488776, 14) 2018_3_USA_Consumer_SF_WI_1.csv Appended to Database
208 (490578, 14) 2018_3_USA_Consumer_SF_WI_3.csv Appended to Database
209 (487245, 14) 2018_3_USA_Consumer_SF_WI_4.csv Appended to Database
210 (298213, 14) 2018_3_USA_Consumer_SF_WI_5.csv Appended to Database
211 (205486, 14) 2018_3_USA_Consumer_SF_WY_0.csv Appended to Database

In [3]:
sql = pd.read_sql('''SELECT * FROM table_2018
                    LIMIT 150 ''',conn)
sql

,FullPhoneNumber,state,cityname,persongender,personexactage,personmaritalstatus,traveler,ZipCode,investment,estimatedincomecode,timezone,DONOTCALL,PresenceOfCreditCard,CreditRating
0,9074566127,AK,Fairbanks,F,38,B,U,99701,U,B,H,None,Y,B
1,9072485037,AK,Anchorage,M,62,M,Y,99502,Y,E,H,None,Y,E
2,9073448551,AK,Anchorage,F,73,M,Y,99515,Y,N,H,None,Y,B
3,9073456826,AK,Anchorage,M,2,U,U,99516,U,P,H,None,U,B
4,9077234989,AK,Juneau,M,30,S,U,99801,U,I,H,None,Y,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,9072748185,AK,Anchorage,F,61,S,U,99501,U,B,H,None,Y,E
146,9072984192,AK,Anchorage,U,2,U,U,99501,U,C,H,None,U,C
147,9074417239,AK,Anchorage,F,2,M,Y,99501,Y,F,H,None,Y,C
148,9073758979,AK,Anchorage,F,35,M,U,99501,U,D,H,None,Y,F
149,9072722277,AK,Anchorage,F,95,S,Y,99501,Y,F,H,None,Y,C

In [4]:
sql1 = pd.read_sql('''SELECT * FROM table_2021
                    LIMIT 150 ''',conn)
sql1

,FullPhoneNumber,state,cityname,persongender,personexactage,personmaritalstatus,traveler,ZipCode,investment,estimatedincomecode,timezone,DONOTCALL,PresenceOfCreditCard,CreditRating
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,9072272643,AK,Hope,None,79,None,None,99605,None,M,None,N,None,B
2,9073609503,AK,Anchorage,None,77,None,None,99501,None,S,None,Y,None,A
3,9072742175,AK,Anchorage,None,61,None,None,99501,None,R,None,N,None,B
4,9072743803,AK,Anchorage,None,80,None,None,99501,None,H,None,N,None,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,9072430836,AK,Anchorage,None,58,None,None,99502,None,N,None,Y,None,C
146,9079290303,AK,Anchorage,None,27,None,None,99502,None,O,None,N,None,G
147,9072435587,AK,Anchorage,None,65,None,None,99502,None,N,None,Y,None,A
148,9078928957,AK,Anchorage,None,36,None,None,99502,None,P,None,N,None,G
149,9075619192,AK,Anchorage,None,50,None,None,99502,None,E,None,N,None,F