In [1]:
# #!/usr/bin/env python
# # coding: utf-8
# ''''''''''''



# import pandas as pd
# import sqlite3 as sq
# conn = sq.connect('my_data.db')
# c = conn.cursor()
# c.execute('''CREATE TABLE table_2018 (FullPhoneNumber int,state text,cityname text,persongender  text,personexactage int,personmaritalstatus text,traveler text,MailOrderBuyer text,investment text,estimatedincomecode text,homeownerprobabilitymodel text,DONOTCALL BOOL)''')
# c.execute('''SELECT * FROM users''').fetchall() # [(1, 'pokerkid'), (2, 'crazyken')]|
# df.to_sql('users', conn, if_exists='append', index = False)
# import os
# list_of_dir = os.listdir(r'Z:\AIDAILER\2018.3')
# list_of_dir

# for i in list_of_dir:
#     try:
#         df1 = pd.read_csv('Z:/AIDAILER/2018.3/'+str(i))
    
#         df1 =df1[["FullPhoneNumber",
#             "state","cityname",
#             "persongender",
#             "personexactage",
#             "personmaritalstatus",
#             "traveler",
#             "MailOrderBuyer",
#             "investment",
#             "estimatedincomecode",
#             "homeownerprobabilitymodel",
#             "DONOTCALL"]]
#         df1.to_sql('users',conn,if_exists='append',index=False)
#     except Exception as e:
#         print(str(e))
#         pass
# #         with open("err.txt", "w+") as f:
# #             f.write(str(e))

In [2]:
# sql_File=pd.read_sql('''SELECT * FROM users''',conn)
# sql_File

In [2]:
import pandas as pd
import sqlite3

In [3]:
import sqlite3
conn = sqlite3.connect('my_database.db')
c = conn.cursor()

In [19]:
 c.execute('''DROP TABLE table_2018''')

In [20]:
c.execute('''CREATE TABLE table_2018 (FullPhoneNumber text,state text,cityname text,persongender  text,personexactage text,personmaritalstatus text,traveler text,ZipCode text,investment text,estimatedincomecode text,timezone text,DONOTCALL text,"PresenceOfCreditCard" text,CreditRating  text )''')

In [83]:
import os
list_of_dir = os.listdir(r'Z:\AIDAILER\2018.3')
list_of_iter = iter(list_of_dir)

In [13]:
data =  pd.read_csv('Z:/AIDAILER/2018.3/2018_3_USA_Consumer_SF_AK_0.csv')

In [14]:
data[["state",
              "ZipCode",
              "cityname",
            "timezone",
            "FullPhoneNumber",
            "estimatedincomecode",
            "persongender",
            "personexactage",
            "personmaritalstatus",
            "PresenceOfCreditCard",
            "CreditRating",
            "investment",
            "traveler",
            "DONOTCALL"
            ]]

,state,ZipCode,cityname,timezone,FullPhoneNumber,estimatedincomecode,persongender,personexactage,personmaritalstatus,PresenceOfCreditCard,CreditRating,investment,traveler,DONOTCALL
0,AK,99701,Fairbanks,H,9074566127.0,B,F,38,B,Y,B,U,U,False
1,AK,99502,Anchorage,H,9072485037.0,E,M,62,M,Y,E,Y,Y,False
2,AK,99515,Anchorage,H,9073448551.0,N,F,73,M,Y,B,Y,Y,False
3,AK,99516,Anchorage,H,9073456826.0,P,M,2,U,U,B,U,U,True
4,AK,99801,Juneau,H,9077234989.0,I,M,30,S,Y,C,U,U,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212453,AK,99523,Anchorage,H,9075637788.0,O,F,39,M,Y,C,Y,Y,False
212454,AK,99577,Eagle River,H,9076886743.0,N,M,48,A,Y,C,U,Y,False
212455,AK,99687,Wasilla,H,9073150094.0,N,M,48,M,Y,U,Y,Y,False
212456,AK,99516,Anchorage,U,5038063218.0,O,M,48,M,Y,A,Y,Y,True
212457,AK,99702,Eielson Afb,U,5612818997.0,U,M,57,M,U,D,U,U,True

In [10]:
data.columns

Index(['personfirstname', 'personmiddleinitial', 'personlastname',
       'persontitleofrespect', 'streetname', 'streetsuffix', 'primaryaddress',
       'secondaryaddress', 'state', 'ZipCode', 'Zip_4', 'msa', 'countycode',
       'countyname', 'citynameabbr', 'cityname', 'carrier_route', 'latitude',
       'longitude', 'timezone', 'dwellingtype', 'livingunitid', 'AreaCode',
       'Phone', 'FullPhoneNumber', 'MobilePhoneNumber', 'MobilePhoneUpdate',
       'estimatedincomecode', 'homeownerprobabilitymodel',
       'numberofpersonsinlivingunit', 'presenceofchildren', 'persongender',
       'persondateofbirthyear', 'persondateofbirthmonth',
       'persondateofbirthday', 'personexactage', 'personmaritalstatus',
       'occupationgroup', 'personoccupation', 'ethniccode', 'languagecode',
       'ethnicgroup', 'religioncode', 'hispaniccountrycode', 'personeducation',
       'businessowner', 'NumberOfAdults', 'PresenceOfCreditCard',
       'PresenceOfBankCard', 'GasDeptRetailCardHolder', 'CreditRating',
       'investment', 'investmentstocksecurities', 'Networth',
       'NumberOfLinesOfCredit', 'Credit_RangeOfNewCredit', 'Investing_Active',
       'InvestmentsPersonal', 'InvestmentsRealEstate',
       'InvestingFinanceGrouping', 'InvestmentsForeign',
       'InvestmentEstimatedResidentialPropertiesOwned', 'AssimilationCodes',
       'traveler', 'pets', 'cats', 'dogs', 'mailresponder', 'sweepstakes',
       'religiouscontributor', 'politicalcontributor',
       'health_institutioncontributor', 'charitable', 'generalcontributor',
       'donatestoenvironmentalcauses', 'donatesbymail', 'veteraninhousehold',
       'HeavyBusinessTravelers', 'hightechleader', 'Smoker', 'MailOrderBuyer',
       'OnlinePurchasingIndicator', 'EnvironmentalIssuesCharitableDonation',
       'InternationalAidCharitableDonation', 'PoliticalCharitableDonation',
       'PoliticalConservativeCharitableDonation',
       'PoliticalLiberalCharitableDonation', 'VeteransCharitableDonation',
       'CharitableDonations_Other', 'homeswimmingpoolindicator',
       'airconditioning', 'homeheatindicator', 'DONOTCALL', 'DONOTCALLUpdate',
       'Name', 'UPDATE_SOURCE', 'Email'],
      dtype='object')

In [22]:
for i in range(len(list_of_dir)):
#     try:
    df1 = pd.read_csv('Z:/AIDAILER/2018.3/'+str(next(list_of_iter)) ,warn_bad_lines=True, error_bad_lines=False, engine="python")
    df1['FullPhoneNumber'] = df1['FullPhoneNumber'].astype(str)
    df1['FullPhoneNumber'] = df1[df1['FullPhoneNumber'] != 'nan'] df=df[df['FullPhoneNumber'] != 'nan']
    df1['ZipCode']=df1['ZipCode'].astype(str)
    df1["DONOTCALL"]=df1["DONOTCALL"].astype(str)
    df1["DONOTCALL"] =df1["DONOTCALL"].map({True: 'Y', False: 'N'})
    df1 = df1[["state","ZipCode","cityname","timezone","FullPhoneNumber","estimatedincomecode","persongender","personexactage","personmaritalstatus","PresenceOfCreditCard","CreditRating","investment","traveler","DONOTCALL"]]
    df1.to_sql('table_2018',conn,if_exists='append',index=False)
    print(str(i+1), str(df1.shape), str(list_of_dir[i]), 'Appended to Database')

#     except Exception as e:
#         print(str(e))
#         pass

1 (212458, 14) 2018_3_USA_Consumer_SF_AK_0.csv Appended to Database
2 (499999, 14) 2018_3_USA_Consumer_SF_AL_0.csv Appended to Database
3 (499999, 14) 2018_3_USA_Consumer_SF_AL_1.csv Appended to Database
4 (499999, 14) 2018_3_USA_Consumer_SF_AL_2.csv Appended to Database
5 (499999, 14) 2018_3_USA_Consumer_SF_AL_3.csv Appended to Database

Skipping line 334815: unexpected end of data

6 (334813, 14) 2018_3_USA_Consumer_SF_AL_4.csv Appended to Database

Skipping line 332307: unexpected end of data

7 (332305, 14) 2018_3_USA_Consumer_SF_AR_0.csv Appended to Database
8 (499999, 14) 2018_3_USA_Consumer_SF_AR_1.csv Appended to Database
9 (350846, 14) 2018_3_USA_Consumer_SF_AR_2.csv Appended to Database
10 (499999, 14) 2018_3_USA_Consumer_SF_AZ_0.csv Appended to Database

Skipping line 1264: unexpected end of data

11 (1262, 14) 2018_3_USA_Consumer_SF_AZ_1.csv Appended to Database
12 (499999, 14) 2018_3_USA_Consumer_SF_AZ_2.csv Appended to Database
13 (499999, 14) 2018_3_USA_Consumer_SF_AZ_3.csv Appended to Database
14 (457824, 14) 2018_3_USA_Consumer_SF_AZ_4.csv Appended to Database
15 (499999, 14) 2018_3_USA_Consumer_SF_CA_0.csv Appended to Database
16 (499999, 14) 2018_3_USA_Consumer_SF_CA_1.csv Appended to Database
17 (499999, 14) 2018_3_USA_Consumer_SF_CA_10.csv Appended to Database
18 (499999, 14) 2018_3_USA_Consumer_SF_CA_11.csv Appended to Database
19 (499999, 14) 2018_3_USA_Consumer_SF_CA_12.csv Appended to Database

Skipping line 14470: unexpected end of data

20 (14468, 14) 2018_3_USA_Consumer_SF_CA_13.csv Appended to Database
21 (499999, 14) 2018_3_USA_Consumer_SF_CA_14.csv Appended to Database
22 (499999, 14) 2018_3_USA_Consumer_SF_CA_15.csv Appended to Database
23 (499999, 14) 2018_3_USA_Consumer_SF_CA_17.csv Appended to Database
24 (499999, 14) 2018_3_USA_Consumer_SF_CA_2.csv Appended to Database
25 (499999, 14) 2018_3_USA_Consumer_SF_CA_20.csv Appended to Database
26 (499999, 14) 2018_3_USA_Consumer_SF_CA_22.csv Appended to Database
27 (499999, 14) 2018_3_USA_Consumer_SF_CA_23.csv Appended to Database
28 (499999, 14) 2018_3_USA_Consumer_SF_CA_24.csv Appended to Database
29 (499999, 14) 2018_3_USA_Consumer_SF_CA_26.csv Appended to Database
30 (499999, 14) 2018_3_USA_Consumer_SF_CA_27.csv Appended to Database
31 (225031, 14) 2018_3_USA_Consumer_SF_CA_29.csv Appended to Database
32 (499999, 14) 2018_3_USA_Consumer_SF_CA_3.csv Appended to Database
33 (499999, 14) 2018_3_USA_Consumer_SF_CA_4.csv Appended to Database
34 (499999, 14) 2018_3_USA_Consumer_SF_CA_5.csv Appended to Database
35 (499999, 14) 2018_3_USA_Consumer_SF_CA_6.csv Appended to Database
36 (499999, 14) 2018_3_USA_Consumer_SF_CA_7.csv Appended to Database

Skipping line 85196: unexpected end of data

37 (85194, 14) 2018_3_USA_Consumer_SF_CA_8.csv Appended to Database
38 (499999, 14) 2018_3_USA_Consumer_SF_CA_9.csv Appended to Database
39 (499999, 14) 2018_3_USA_Consumer_SF_CO_0.csv Appended to Database
40 (499999, 14) 2018_3_USA_Consumer_SF_CO_2.csv Appended to Database
41 (326263, 14) 2018_3_USA_Consumer_SF_CO_4.csv Appended to Database
42 (499999, 14) 2018_3_USA_Consumer_SF_CT_0.csv Appended to Database
43 (499999, 14) 2018_3_USA_Consumer_SF_CT_1.csv Appended to Database
44 (376445, 14) 2018_3_USA_Consumer_SF_CT_3.csv Appended to Database
45 (229847, 14) 2018_3_USA_Consumer_SF_DC_0.csv Appended to Database
46 (499999, 14) 2018_3_USA_Consumer_SF_DE_0.csv Appended to Database
47 (32200, 14) 2018_3_USA_Consumer_SF_DE_1.csv Appended to Database
48 (499999, 14) 2018_3_USA_Consumer_SF_FL_0.csv Appended to Database

Skipping line 19495: unexpected end of data

49 (19493, 14) 2018_3_USA_Consumer_SF_FL_18.csv Appended to Database
50 (499999, 14) 2018_3_USA_Consumer_SF_GA_0.csv Appended to Database
51 (499999, 14) 2018_3_USA_Consumer_SF_GA_1.csv Appended to Database
52 (499999, 14) 2018_3_USA_Consumer_SF_GA_2.csv Appended to Database
53 (499999, 14) 2018_3_USA_Consumer_SF_GA_3.csv Appended to Database
54 (499999, 14) 2018_3_USA_Consumer_SF_GA_4.csv Appended to Database
55 (499999, 14) 2018_3_USA_Consumer_SF_GA_7.csv Appended to Database
56 (429117, 14) 2018_3_USA_Consumer_SF_GA_8.csv Appended to Database
57 (36, 14) 2018_3_USA_Consumer_SF_GU_0.csv Appended to Database
58 (499999, 14) 2018_3_USA_Consumer_SF_IA_0.csv Appended to Database
59 (499999, 14) 2018_3_USA_Consumer_SF_IA_1.csv Appended to Database
60 (499999, 14) 2018_3_USA_Consumer_SF_IA_2.csv Appended to Database
61 (499999, 14) 2018_3_USA_Consumer_SF_ID_0.csv Appended to Database
62 (130152, 14) 2018_3_USA_Consumer_SF_ID_1.csv Appended to Database
63 (499999, 14) 2018_3_USA_Consumer_SF_IL_0.csv Appended to Database
64 (499999, 14) 2018_3_USA_Consumer_SF_IL_10.csv Appended to Database
65 (493034, 14) 2018_3_USA_Consumer_SF_IL_11.csv Appended to Database
66 (499999, 14) 2018_3_USA_Consumer_SF_IL_3.csv Appended to Database
67 (499999, 14) 2018_3_USA_Consumer_SF_IL_4.csv Appended to Database
68 (499999, 14) 2018_3_USA_Consumer_SF_IL_6.csv Appended to Database
69 (499999, 14) 2018_3_USA_Consumer_SF_IL_8.csv Appended to Database
70 (499999, 14) 2018_3_USA_Consumer_SF_IL_9.csv Appended to Database
71 (499999, 14) 2018_3_USA_Consumer_SF_IN_2.csv Appended to Database
72 (499999, 14) 2018_3_USA_Consumer_SF_IN_4.csv Appended to Database
73 (499999, 14) 2018_3_USA_Consumer_SF_KS_0.csv Appended to Database
74 (499999, 14) 2018_3_USA_Consumer_SF_KS_1.csv Appended to Database
75 (499999, 14) 2018_3_USA_Consumer_SF_KY_0.csv Appended to Database
76 (499999, 14) 2018_3_USA_Consumer_SF_KY_1.csv Appended to Database
77 (499999, 14) 2018_3_USA_Consumer_SF_KY_2.csv Appended to Database
78 (97091, 14) 2018_3_USA_Consumer_SF_KY_4.csv Appended to Database
79 (499999, 14) 2018_3_USA_Consumer_SF_LA_0.csv Appended to Database
80 (499999, 14) 2018_3_USA_Consumer_SF_LA_1.csv Appended to Database

Skipping line 16131: unexpected end of data

81 (16129, 14) 2018_3_USA_Consumer_SF_LA_2.csv Appended to Database
82 (499999, 14) 2018_3_USA_Consumer_SF_LA_3.csv Appended to Database
83 (297621, 14) 2018_3_USA_Consumer_SF_LA_4.csv Appended to Database
84 (499999, 14) 2018_3_USA_Consumer_SF_MA_0.csv Appended to Database
85 (499999, 14) 2018_3_USA_Consumer_SF_MA_4.csv Appended to Database
86 (295268, 14) 2018_3_USA_Consumer_SF_MA_6.csv Appended to Database
87 (499999, 14) 2018_3_USA_Consumer_SF_MD_0.csv Appended to Database

Skipping line 27158: unexpected end of data

88 (27156, 14) 2018_3_USA_Consumer_SF_MD_1.csv Appended to Database
89 (3858, 14) 2018_3_USA_Consumer_SF_MD_2.csv Appended to Database
90 (499999, 14) 2018_3_USA_Consumer_SF_MD_3.csv Appended to Database
91 (499999, 14) 2018_3_USA_Consumer_SF_MD_4.csv Appended to Database
92 (408423, 14) 2018_3_USA_Consumer_SF_MD_5.csv Appended to Database
93 (499999, 14) 2018_3_USA_Consumer_SF_MI_2.csv Appended to Database
94 (499999, 14) 2018_3_USA_Consumer_SF_MI_3.csv Appended to Database
95 (499999, 14) 2018_3_USA_Consumer_SF_MI_4.csv Appended to Database
96 (499999, 14) 2018_3_USA_Consumer_SF_MI_5.csv Appended to Database
97 (499999, 14) 2018_3_USA_Consumer_SF_MI_8.csv Appended to Database
98 (499999, 14) 2018_3_USA_Consumer_SF_MI_9.csv Appended to Database
99 (499999, 14) 2018_3_USA_Consumer_SF_MN_0.csv Appended to Database
100 (499999, 14) 2018_3_USA_Consumer_SF_MN_2.csv Appended to Database
101 (499999, 14) 2018_3_USA_Consumer_SF_MN_4.csv Appended to Database
102 (219505, 14) 2018_3_USA_Consumer_SF_MN_5.csv Appended to Database
103 (499999, 14) 2018_3_USA_Consumer_SF_MO_0.csv Appended to Database
104 (499999, 14) 2018_3_USA_Consumer_SF_MO_1.csv Appended to Database
105 (499999, 14) 2018_3_USA_Consumer_SF_MO_3.csv Appended to Database
106 (499999, 14) 2018_3_USA_Consumer_SF_MO_4.csv Appended to Database
107 (406780, 14) 2018_3_USA_Consumer_SF_MO_5.csv Appended to Database
108 (499999, 14) 2018_3_USA_Consumer_SF_MS_0.csv Appended to Database
109 (499999, 14) 2018_3_USA_Consumer_SF_MS_1.csv Appended to Database
110 (431824, 14) 2018_3_USA_Consumer_SF_MT_0.csv Appended to Database
111 (499999, 14) 2018_3_USA_Consumer_SF_NC_0.csv Appended to Database
112 (499999, 14) 2018_3_USA_Consumer_SF_NC_1.csv Appended to Database
113 (499999, 14) 2018_3_USA_Consumer_SF_NC_2.csv Appended to Database
114 (499999, 14) 2018_3_USA_Consumer_SF_NC_3.csv Appended to Database
115 (499999, 14) 2018_3_USA_Consumer_SF_NC_4.csv Appended to Database
116 (499999, 14) 2018_3_USA_Consumer_SF_NC_5.csv Appended to Database
117 (499999, 14) 2018_3_USA_Consumer_SF_NC_6.csv Appended to Database
118 (234067, 14) 2018_3_USA_Consumer_SF_NC_8.csv Appended to Database
119 (297607, 14) 2018_3_USA_Consumer_SF_ND_0.csv Appended to Database
120 (320963, 14) 2018_3_USA_Consumer_SF_NE_1.csv Appended to Database
121 (499999, 14) 2018_3_USA_Consumer_SF_NJ_0.csv Appended to Database
122 (499999, 14) 2018_3_USA_Consumer_SF_NJ_1.csv Appended to Database
123 (18030, 14) 2018_3_USA_Consumer_SF_NJ_3.csv Appended to Database
124 (499999, 14) 2018_3_USA_Consumer_SF_NJ_4.csv Appended to Database
125 (499999, 14) 2018_3_USA_Consumer_SF_NJ_7.csv Appended to Database
126 (499999, 14) 2018_3_USA_Consumer_SF_NM_0.csv Appended to Database
127 (242653, 14) 2018_3_USA_Consumer_SF_NM_1.csv Appended to Database
128 (499999, 14) 2018_3_USA_Consumer_SF_NV_0.csv Appended to Database
129 (116413, 14) 2018_3_USA_Consumer_SF_NV_2.csv Appended to Database
130 (499999, 14) 2018_3_USA_Consumer_SF_NY_1.csv Appended to Database
131 (499999, 14) 2018_3_USA_Consumer_SF_NY_10.csv Appended to Database
132 (499999, 14) 2018_3_USA_Consumer_SF_NY_11.csv Appended to Database
133 (499999, 14) 2018_3_USA_Consumer_SF_NY_12.csv Appended to Database
134 (499999, 14) 2018_3_USA_Consumer_SF_NY_13.csv Appended to Database
135 (499999, 14) 2018_3_USA_Consumer_SF_NY_14.csv Appended to Database
136 (499999, 14) 2018_3_USA_Consumer_SF_NY_15.csv Appended to Database
137 (499999, 14) 2018_3_USA_Consumer_SF_NY_16.csv Appended to Database
138 (199989, 14) 2018_3_USA_Consumer_SF_NY_17.csv Appended to Database
139 (499999, 14) 2018_3_USA_Consumer_SF_NY_2.csv Appended to Database
140 (499999, 14) 2018_3_USA_Consumer_SF_NY_4.csv Appended to Database
141 (499999, 14) 2018_3_USA_Consumer_SF_NY_5.csv Appended to Database

Skipping line 500000: Expected 97 fields in line 500000, saw 176

142 (685754, 14) 2018_3_USA_Consumer_SF_NY_6.csv Appended to Database
143 (499999, 14) 2018_3_USA_Consumer_SF_NY_7.csv Appended to Database
144 (499999, 14) 2018_3_USA_Consumer_SF_NY_8.csv Appended to Database
145 (499999, 14) 2018_3_USA_Consumer_SF_NY_9.csv Appended to Database
146 (499999, 14) 2018_3_USA_Consumer_SF_OH_0.csv Appended to Database
147 (499999, 14) 2018_3_USA_Consumer_SF_OH_1.csv Appended to Database
148 (499999, 14) 2018_3_USA_Consumer_SF_OH_11.csv Appended to Database
149 (499999, 14) 2018_3_USA_Consumer_SF_OH_2.csv Appended to Database
150 (499999, 14) 2018_3_USA_Consumer_SF_OH_3.csv Appended to Database
151 (499999, 14) 2018_3_USA_Consumer_SF_OH_5.csv Appended to Database
152 (499999, 14) 2018_3_USA_Consumer_SF_OH_8.csv Appended to Database
153 (499999, 14) 2018_3_USA_Consumer_SF_OK_1.csv Appended to Database
154 (157528, 14) 2018_3_USA_Consumer_SF_OK_3.csv Appended to Database
155 (499999, 14) 2018_3_USA_Consumer_SF_OR_0.csv Appended to Database
156 (499999, 14) 2018_3_USA_Consumer_SF_OR_1.csv Appended to Database
157 (499999, 14) 2018_3_USA_Consumer_SF_OR_2.csv Appended to Database
158 (109393, 14) 2018_3_USA_Consumer_SF_OR_3.csv Appended to Database
159 (499999, 14) 2018_3_USA_Consumer_SF_PA_0.csv Appended to Database
160 (499999, 14) 2018_3_USA_Consumer_SF_PA_1.csv Appended to Database
161 (499999, 14) 2018_3_USA_Consumer_SF_PA_11.csv Appended to Database
162 (499999, 14) 2018_3_USA_Consumer_SF_PA_2.csv Appended to Database
163 (499999, 14) 2018_3_USA_Consumer_SF_PA_3.csv Appended to Database
164 (499999, 14) 2018_3_USA_Consumer_SF_PA_4.csv Appended to Database
165 (499999, 14) 2018_3_USA_Consumer_SF_PA_7.csv Appended to Database
166 (499999, 14) 2018_3_USA_Consumer_SF_PA_8.csv Appended to Database
167 (499999, 14) 2018_3_USA_Consumer_SF_RI_0.csv Appended to Database
168 (51144, 14) 2018_3_USA_Consumer_SF_RI_1.csv Appended to Database
169 (499999, 14) 2018_3_USA_Consumer_SF_SC_0.csv Appended to Database
170 (499999, 14) 2018_3_USA_Consumer_SF_SC_2.csv Appended to Database
171 (499999, 14) 2018_3_USA_Consumer_SF_SC_3.csv Appended to Database
172 (288419, 14) 2018_3_USA_Consumer_SF_SC_4.csv Appended to Database
173 (378255, 14) 2018_3_USA_Consumer_SF_SD_0.csv Appended to Database
174 (499999, 14) 2018_3_USA_Consumer_SF_TN_0.csv Appended to Database
175 (499999, 14) 2018_3_USA_Consumer_SF_TN_1.csv Appended to Database
176 (499999, 14) 2018_3_USA_Consumer_SF_TN_3.csv Appended to Database
177 (499999, 14) 2018_3_USA_Consumer_SF_TN_4.csv Appended to Database
178 (499999, 14) 2018_3_USA_Consumer_SF_TN_5.csv Appended to Database
179 (499999, 14) 2018_3_USA_Consumer_SF_TX_0.csv Appended to Database
180 (499999, 14) 2018_3_USA_Consumer_SF_TX_1.csv Appended to Database
181 (499999, 14) 2018_3_USA_Consumer_SF_TX_11.csv Appended to Database
182 (499999, 14) 2018_3_USA_Consumer_SF_TX_12.csv Appended to Database
183 (499999, 14) 2018_3_USA_Consumer_SF_TX_14.csv Appended to Database
184 (499999, 14) 2018_3_USA_Consumer_SF_TX_15.csv Appended to Database
185 (499999, 14) 2018_3_USA_Consumer_SF_TX_16.csv Appended to Database
186 (499999, 14) 2018_3_USA_Consumer_SF_TX_18.csv Appended to Database
187 (499999, 14) 2018_3_USA_Consumer_SF_TX_19.csv Appended to Database
188 (499999, 14) 2018_3_USA_Consumer_SF_TX_20.csv Appended to Database
189 (499999, 14) 2018_3_USA_Consumer_SF_TX_21.csv Appended to Database
190 (141257, 14) 2018_3_USA_Consumer_SF_TX_22.csv Appended to Database
191 (499999, 14) 2018_3_USA_Consumer_SF_TX_3.csv Appended to Database
192 (499999, 14) 2018_3_USA_Consumer_SF_TX_5.csv Appended to Database
193 (499999, 14) 2018_3_USA_Consumer_SF_TX_7.csv Appended to Database
194 (499999, 14) 2018_3_USA_Consumer_SF_TX_9.csv Appended to Database
195 (499999, 14) 2018_3_USA_Consumer_SF_UT_0.csv Appended to Database
196 (145287, 14) 2018_3_USA_Consumer_SF_UT_2.csv Appended to Database
197 (499999, 14) 2018_3_USA_Consumer_SF_VA_1.csv Appended to Database
198 (499999, 14) 2018_3_USA_Consumer_SF_VA_2.csv Appended to Database
199 (499999, 14) 2018_3_USA_Consumer_SF_VA_4.csv Appended to Database
200 (499999, 14) 2018_3_USA_Consumer_SF_VA_5.csv Appended to Database
201 (55, 14) 2018_3_USA_Consumer_SF_VI_0.csv Appended to Database
202 (297238, 14) 2018_3_USA_Consumer_SF_VT_0.csv Appended to Database
203 (499999, 14) 2018_3_USA_Consumer_SF_WA_2.csv Appended to Database
204 (499999, 14) 2018_3_USA_Consumer_SF_WA_3.csv Appended to Database
205 (499999, 14) 2018_3_USA_Consumer_SF_WA_4.csv Appended to Database
206 (326592, 14) 2018_3_USA_Consumer_SF_WA_5.csv Appended to Database
207 (499999, 14) 2018_3_USA_Consumer_SF_WI_1.csv Appended to Database
208 (499999, 14) 2018_3_USA_Consumer_SF_WI_3.csv Appended to Database
209 (499999, 14) 2018_3_USA_Consumer_SF_WI_4.csv Appended to Database
210 (305440, 14) 2018_3_USA_Consumer_SF_WI_5.csv Appended to Database
211 (214621, 14) 2018_3_USA_Consumer_SF_WY_0.csv Appended to Database

In [8]:
# source = "Z:/AIDAILER/2018.3/"
# csvs_iter = iter(list_of_dir)

# for i in range(len(list_of_dir)):
#     #     print(i+1, next(csvs_iter))
#     df_2018 = pd.read_csv(os.path.join(source ,str(next(csvs_iter))), sep="\t|,",warn_bad_lines=True, error_bad_lines=False)
#     print(i+1, list_of_dir[i], df_2018.shape)

In [ ]:
c.execute('''ALTER TABLE table_2018
             DROP FullPhoneNumber''')

In [ ]:
c.execute('''ALTER TABLE table_2018
            ADD Column FullPhoneNumber text ''')

In [ ]:
import os
list_of_dir = os.listdir(r'Z:\AIDAILER\2018.3')
list_of_iter = iter(list_of_dir)

In [ ]:
for i in range(len(list_of_dir)):
#     try:
    df1 = pd.read_csv('Z:/AIDAILER/2018.3/'+str(next(list_of_iter)) ,warn_bad_lines=True, error_bad_lines=False, engine="python")
    df1['FullPhoneNumber'] = df1['FullPhoneNumber'].astype(str)
    df1 = df1[df1['FullPhoneNumber'] != 'nan']
    df1 = df1[["FullPhoneNumber"]]
    df1.to_sql('table_2018.FullPhoneNumber',conn,if_exists='append',index=False)
    print(str(i+1), str(df1.shape), str(list_of_dir[i]), 'Appended to Database')

In [19]:
sql_data = pd.read_sql('''SELECT * FROM table_2021
                            LIMIT 150''',conn)
sql_data

,FullPhoneNumber,state,cityname,persongender,personexactage,personmaritalstatus,traveler,ZipCode,investment,estimatedincomecode,timezone,DONOTCALL,PresenceOfCreditCard,CreditRating
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,9072272643,AK,Hope,None,79,None,None,99605,None,M,None,N,None,B
2,9073609503,AK,Anchorage,None,77,None,None,99501,None,S,None,Y,None,A
3,9072742175,AK,Anchorage,None,61,None,None,99501,None,R,None,N,None,B
4,9072743803,AK,Anchorage,None,80,None,None,99501,None,H,None,N,None,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,9072430836,AK,Anchorage,None,58,None,None,99502,None,N,None,Y,None,C
146,9079290303,AK,Anchorage,None,27,None,None,99502,None,O,None,N,None,G
147,9072435587,AK,Anchorage,None,65,None,None,99502,None,N,None,Y,None,A
148,9078928957,AK,Anchorage,None,36,None,None,99502,None,P,None,N,None,G
149,9075619192,AK,Anchorage,None,50,None,None,99502,None,E,None,N,None,F

In [84]:
# c.execute('''DROP Table table_2018_1''')

In [85]:
# c.execute('''CREATE TABLE table_2018_1 (FullPhoneNumber text)''')

In [86]:
# df1 = pd.read_csv('Z:/AIDAILER/2018.3/2018_3_USA_Consumer_SF_VI_0.csv',warn_bad_lines=True, error_bad_lines=False, engine="python")
# df1['FullPhoneNumber'] = df1['FullPhoneNumber'].astype(str)
# df1 = df1[df1['FullPhoneNumber'] != 'nan']
# df1 = df1["FullPhoneNumber"]
# df1.to_sql('table_2018_1',conn,if_exists='append',index=False)
# print(str(i+1), str(df1.shape), str(list_of_dir[i]), 'Appended to Database')

1 (48,) 2018_3_USA_Consumer_SF_AK_0.csv Appended to Database

In [ ]:
sql_data = pd.read_sql('''SELECT FullPhoneNumber FROM table_2018
                          LIMIT 500  ''',conn)
sql_data

In [90]:
for i in range(2):
#     try:
    df1 = pd.read_csv('Z:/AIDAILER/2018.3/'+str(next(list_of_iter)) ,warn_bad_lines=True, error_bad_lines=False, engine="python")
    df1['FullPhoneNumber'] = df1['FullPhoneNumber'].astype(str)
    df1 = df1[df1['FullPhoneNumber'] != 'nan']
    df1 = df1[["FullPhoneNumber"]]
    df1.to_sql('table_2018',conn,if_exists='append',index=False)
    print(str(i+1), str(df1.shape), str(list_of_dir[i]), 'Appended to Database')

Skipping line 334815: unexpected end of data

1 (325915, 1) 2018_3_USA_Consumer_SF_AK_0.csv Appended to Database

Skipping line 332307: unexpected end of data

2 (319719, 1) 2018_3_USA_Consumer_SF_AL_0.csv Appended to Database

210